In [1]:
import pandas as pd

In [6]:
FILE1 = 'datio_scraper/data/limpieza/limpio.csv'
FILE2 = 'datio_scraper/data/info_final/info_final.csv'
d1 = pd.read_csv(FILE1)
d2 = pd.read_csv(FILE2, sep='|')

In [11]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               1426 non-null   int64
 1   codigo_1            1426 non-null   int64
 2   codigo_2            1426 non-null   int64
 3   idx_codigo          1426 non-null   int64
 4   id_establecimiento  1426 non-null   int64
 5   clee                1426 non-null   object
 6   nom_estab           1426 non-null   object
 7   raz_social          946 non-null    object
 8   entidad             1426 non-null   object
 9   municipio           1426 non-null   object
 10  cod_postal          1401 non-null   float64
 11  codigo_act          1426 non-null   int64
 12  nombre_act          1426 non-null   object
 13  fecha_alta          1426 non-null   object
 14  www                 305 non-null    object
 15  latitud             1426 non-null   float64
 16  longitud            1426 non-null   float64
 17  per_ocu             1426 non-null   object
 18  min_ocupacion       1426 non-null   int64
 19  max_ocupacion       1426 non-null   float64
dtypes: float64(4), int64(7), object(9)
memory usage: 222.9+ KB

In [12]:
data = d1.merge(d2, on='Index')

In [16]:
data[['min_ocupacion', 'max_ocupacion']].describe()

       min_ocupacion  max_ocupacion
count    1426.000000         1426.0
mean       11.464236            inf
std        31.388462            NaN
min         0.000000            5.0
25%         0.000000            5.0
50%         0.000000            5.0
75%        11.000000           30.0
max       251.000000            inf