In [1]:
import pandas as pd

In [27]:
codigos = pd.read_csv('datio_scraper/codigos_tmp.csv')

In [28]:
FILE1 = 'datio_scraper/data/limpieza/limpio.csv'
FILE2 = 'datio_scraper/data/info_final/info_final.csv'
d1 = pd.read_csv(FILE1)
d2 = pd.read_csv(FILE2, sep='|')

In [29]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3197 entries, 0 to 3196
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   3197 non-null   float64
 1   codigo_1                3197 non-null   float64
 2   codigo_2                3197 non-null   float64
 3   idx_codigo              3197 non-null   float64
 4   id_establecimiento      3197 non-null   float64
 5   clee                    3197 non-null   object
 6   nom_estab               3197 non-null   object
 7   raz_social              2227 non-null   object
 8   entidad                 3197 non-null   object
 9   municipio               3197 non-null   object
 10  cod_postal              3122 non-null   float64
 11  codigo_act              3197 non-null   float64
 12  nombre_act              3197 non-null   object
 13  fecha_alta              3197 non-null   object
 14  www                     680 non-null    object
 15  latitud                 3197 non-null   float64
 16  longitud                3197 non-null   float64
 17  per_ocu                 3197 non-null   object
 18  min_ocupacion           3197 non-null   int64
 19  max_ocupacion           3197 non-null   float64
 20  Nombre1                 3197 non-null   object
 21  Nombre2                 2517 non-null   object
 22  Nombre3                 198 non-null    object
 23  Direccion1              3197 non-null   object
 24  Direccion2              3197 non-null   object
 25  Direccion3              816 non-null    object
 26  Colonia                 3197 non-null   object
 27  MunicipioDel            3197 non-null   object
 28  CP                      3197 non-null   int64
 29  EntreCalle1             3049 non-null   object
 30  EntreCalle2             3041 non-null   object
 31  Estado                  3197 non-null   object
 32  NombComp                3197 non-null   object
 33  nombre_completo         3197 non-null   object
 34  nombre_completo_limpio  3197 non-null   object
dtypes: float64(10), int64(2), object(23)
memory usage: 874.3+ KB

In [26]:
codigos

       Index  codigo_1  codigo_2  idx_codigo
0       6342   6308272    531114           0
1       6343   6988328    713943           1
2       6343   6950914    713943           2
3       6343    176429    713943           3
4       6343   7682419    713943           4
...      ...       ...       ...         ...
59904  22048   6950374    931210       59904
59905  22048    183089    931610       59905
59906  22049   6317571    722511       59906
59907  22051   6318232    722511       59907
59908  22055   1011282    464121       59908

[59909 rows x 4 columns]

In [23]:
d1[d1['Index'] == 3410]

,Index,Nombre1,Nombre2,Nombre3,Direccion1,Direccion2,Direccion3,Colonia,MunicipioDel,CP,EntreCalle1,EntreCalle2,Estado,NombComp,nombre_completo,nombre_completo_limpio
3410,3410,BAJACOW DEL PACIFICO,SA DE CV,NaN,NARANJA,2922,NaN,VILLAFLORESTA,PLAYAS DE ROSARITO,22710,UNO,DOS,Baja California,BAJACOW DEL PACIFICO SA DE CV,BAJACOW DEL PACIFICOSA DE CV,BAJACOW DEL PACIFICO

In [30]:
d2.head()

,Index,codigo_1,codigo_2,idx_codigo,id_establecimiento,clee,nom_estab,raz_social,entidad,municipio,...,Direccion3,Colonia,MunicipioDel,CP,EntreCalle1,EntreCalle2,Estado,NombComp,nombre_completo,nombre_completo_limpio
0,6342.0,6308272.0,531114.0,0.0,6308272.0,09016561620000132012000000U4,FULL SERVICE DE MÉXICO SA DE CV,FULL SERVICE DE MEXICO SA DE CV,CIUDAD DE MÉXICO,Miguel Hidalgo,...,3 INT350,ANZURES,MIGUEL HIDALGO,11590,SHAKESPEARE,DARWIN,CDMX,FULL SERVICE DE MEXICO SA DE CV,FULL SERVICE DE MEXICO SA DE CV,FULL SERVICE DE MEXICO
1,6343.0,6988328.0,713943.0,1.0,6988328.0,01001713943002732000000000U2,ENERGYM,NaN,AGUASCALIENTES,Aguascalientes,...,NaN,PALMAS POLANCO,MIGUEL HIDALGO,11560,EMERSON,HOMERO,CDMX,"ENERGYM, SA DE CV","ENERGYM,SA DE CV",ENERGYM
2,6343.0,6950914.0,713943.0,2.0,6950914.0,03003713943001311000000000U0,ENERGYM FITNESS CENTER,NaN,BAJA CALIFORNIA SUR,La Paz,...,NaN,PALMAS POLANCO,MIGUEL HIDALGO,11560,EMERSON,HOMERO,CDMX,"ENERGYM, SA DE CV","ENERGYM,SA DE CV",ENERGYM
3,6343.0,176429.0,713943.0,3.0,176429.0,03003713943001081000000000U9,GIMNASIO ENERGYM,NaN,BAJA CALIFORNIA SUR,La Paz,...,NaN,PALMAS POLANCO,MIGUEL HIDALGO,11560,EMERSON,HOMERO,CDMX,"ENERGYM, SA DE CV","ENERGYM,SA DE CV",ENERGYM
4,6343.0,7682419.0,713943.0,4.0,7682419.0,05030713943002623000000000U8,ENERGYM,NaN,COAHUILA DE ZARAGOZA,Saltillo,...,NaN,PALMAS POLANCO,MIGUEL HIDALGO,11560,EMERSON,HOMERO,CDMX,"ENERGYM, SA DE CV","ENERGYM,SA DE CV",ENERGYM

In [34]:
d2['max_ocupacion'].unique()

array([ inf,  10.,   5.,  30.,  50., 250., 100.])