In [131]:
import requests
import json
import pandas as pd
import os
from time import sleep

In [3]:
# Lee archivos de código
FILE = 'codigos_0.csv'
data = pd.read_csv(FILE)

In [4]:
data

     Index   codigo_1   codigo_2
0        0    1060688     433410
1        0    1060687     433410
2        0    1000521     465311
3        1    6155552     484129
4        2    2206001     326130
..     ...        ...        ...
908    667    9040362     238222
909    667    8019443     435319
910    667    4136964     238222
911    667    6373691     466112
912    669     902904     541510

[913 rows x 3 columns]

In [75]:
def obtener_informacion(codigo_1, codigo_2):
    url = 'https://www.inegi.org.mx/app/mapa/componente/APIGeografico/infowindowDenue/' + \
    str(codigo_1) + \
    '/DENUE/'+ \
    str(codigo_2)
    respuesta = requests.get(url)
    info = {}
    r_ = respuesta.json()[0]
    if respuesta is not None and "d1" in r_:
        info = {
            'id_establecimiento': r_['d1'],
            'cve_ent': r_['d2'],
            'entidad': r_['d3'],
            'cve_mun': r_['d4'],
            'municipio': r_['d5'],
            'cve_loc': r_['d6'],
            'localidad': r_['d7'],
            'nom_estab': r_['d8'],
            'raz_social': r_['d9'],
            'codigo_act': r_['d11'],
            'nombre_act': r_['d12'],
            'per_ocu': r_['d14'],
            'tipo_vial': r_['d15'],
            'nom_vial': r_['d16'],
            'numero_ext': r_['d17'],
            'edificio': r_['d18'],
            'numero_int': r_['d19'],
            'tipo_asent': r_['d20'],
            'nomb_asent': r_['d21'],
            'nom_CenCom': r_['d22'],
            'num_local': r_['d23'],
            'cod_postal': r_['d24'],
            'ageb': r_['d25'],
            'manzana': r_['d26'],
            'telefono': r_['d27'],
            'correoelec': r_['d28'],
            'www': r_['d30'],
            'fecha_alta': r_['d33'],
            'latitud': r_['d34'],
            'longitud': r_['d35'],
            'tipo_asent': r_['d57'],
            'tipoCenCom': r_['d58'],
            'tipo_v_e_1': r_['d61'],
            'nom_v_e_1': r_['d62'],
            'tipo_v_e_2': r_['d63'],
            'nom_v_e_2': r_['d64'],
            'tipo_v_e_3': r_['d65'],
            'nom_v_e_3': r_['d66'],
            'clee': r_['d68']
        }
    # print(info)
    return info

In [76]:
info = obtener_informacion(1060688, 433410)

In [77]:
info.keys(), info.values()

(dict_keys(['id_establecimiento', 'cve_ent', 'entidad', 'cve_mun', 'municipio', 'cve_loc', 'localidad', 'nom_estab', 'raz_social', 'codigo_act', 'nombre_act', 'per_ocu', 'tipo_vial', 'nom_vial', 'numero_ext', 'edificio', 'numero_int', 'tipo_asent', 'nomb_asent', 'nom_CenCom', 'num_local', 'cod_postal', 'ageb', 'manzana', 'telefono', 'correoelec', 'www', 'fecha_alta', 'latitud', 'longitud', 'tipoCenCom', 'tipo_v_e_1', 'nom_v_e_1', 'tipo_v_e_2', 'nom_v_e_2', 'tipo_v_e_3', 'nom_v_e_3', 'clee']),
 dict_values(['1060688', '09', 'CIUDAD DE MÉXICO', '015', 'Cuauhtémoc', '0001', 'Cuauhtémoc', 'GRUPO OMEGA', 'CENTRO PAPELERO SUN RISE SA DE CV', '433410', 'Comercio al por mayor de artículos de papelería', '6 a 10 personas', 'CALLE', 'REGINA', '135', '', '', 'COLONIA', 'CENTRO (ÁREA 9)', '', '', '06090', '0907', '012', '5555221933', 'GPOSONRISE@HOTMAIL.COM', 'WWW.PAPELESOMEGA.COM', '2010-07', '19.42698643', '-99.13043878', '', 'CALLE', 'LAS CRUCES', 'CALLE', 'CORREO MAYOR', 'AVENIDA', 'SAN PABLO', '09015433410000011000051806S4']))

In [133]:
# Crear un dataset dado el archivo
# Iterar para controlar los errores
# Lee archivos de código
FILE = 'codigos_672_c.csv'
nombre_archivo = os.path.splitext(FILE)[0]
data = pd.read_csv(FILE)
data['idx_codigo'] = data.index

In [134]:
data_ = data[0:2].copy()

In [135]:
%%time
ultimo_error = 0
max_intentos = 5
conteo_intentos = 0

while True:
    try:
        data__ = data_[ultimo_error:]
        archivo = f"{nombre_archivo}_info_{ultimo_error}.csv"
        print(f"Archivo: {archivo}")
        i = 0
        with open(archivo, 'w') as f:
            for idx, row in data__.iterrows():
                ultimo_error = idx
                print(f"Procesando idx_codigo: {row['idx_codigo']}")
                
                info = obtener_informacion(int(row['codigo_1']), int(row['codigo_2']))
                # print(info)
                if info:
                    if idx == 0:
                        k_ = list(info.keys())
                        st_ = ",".join(k_)
                        f.write(f"{st_}\n")
                    inf_ = info.values()
                    st_ = ",".join(inf_)
                    f.write(f"{st_}\n")
        break
    except:
        
        print(f"Pausando Ejecución - Último Índice: {ultimo_error}")
        conteo_intentos += 1
        if conteo_intentos >= max_intentos:
            conteo_intentos = 0
            con_errores.append(ultimo_error)
            ultimo_error += 1
        sleep(10)

Archivo: codigos_672_c_info_0.csv
Procesando idx_codigo: 0
Procesando idx_codigo: 1
CPU times: user 64.2 ms, sys: 0 ns, total: 64.2 ms
Wall time: 1.31 s

In [179]:
FILE = 'codigos_20776.csv'
data = pd.read_csv(FILE)

In [180]:
data.columns = ['Index', 'codigo_1', 'codigo_2']

In [181]:
data['codigo_1'] = data['codigo_1'].astype(int)
data['codigo_2'] = data['codigo_2'].astype(int)

In [182]:
data

      Index  codigo_1  codigo_2
0     20778   6445820    326220
1     20778   8765706    465915
2     20778   6403792    322210
3     20783   3880018    431160
4     20784   8864922    468311
...     ...       ...       ...
1409  21696   4375632    621511
1410  21696   6409217    621511
1411  21699   8658117    431150
1412  21701   6149150    237993
1413  21702   6376866    313210

[1414 rows x 3 columns]

In [183]:
data.to_csv('codigos_20776_c.csv', index=False)

In [184]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414 entries, 0 to 1413
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     1414 non-null   int64
 1   codigo_1  1414 non-null   int64
 2   codigo_2  1414 non-null   int64
dtypes: int64(3)
memory usage: 33.3 KB