In [2]:
import requests
import json
import pandas as pd
from time import sleep

In [3]:
# Lee archivos de código
FILE = 'codigos_0.csv'
data = pd.read_csv(FILE)

In [4]:
data

     Index   codigo_1   codigo_2
0        0    1060688     433410
1        0    1060687     433410
2        0    1000521     465311
3        1    6155552     484129
4        2    2206001     326130
..     ...        ...        ...
908    667    9040362     238222
909    667    8019443     435319
910    667    4136964     238222
911    667    6373691     466112
912    669     902904     541510

[913 rows x 3 columns]

In [9]:
def obtener_informacion(codigo_1, codigo_2):
    url = 'https://www.inegi.org.mx/app/mapa/componente/APIGeografico/infowindowDenue/' + \
    str(codigo_1) + \
    '/DENUE/'+ \
    str(codigo_2)
    respuesta = requests.get(url)
    info = {}
    r_ = respuesta.json()
    if 'd1' in r_:
        
    print(respuesta.json())

In [10]:
obtener_informacion(1060688, 433410)

[{'d1': '1060688', 'd2': '09', 'd3': 'CIUDAD DE MÉXICO', 'd4': '015', 'd5': 'Cuauhtémoc', 'd6': '0001', 'd7': 'Cuauhtémoc', 'd8': 'GRUPO OMEGA', 'd9': 'CENTRO PAPELERO SUN RISE SA DE CV', 'd10': '', 'd11': '433410', 'd12': 'Comercio al por mayor de artículos de papelería', 'd13': '2', 'd14': '6 a 10 personas', 'd15': 'CALLE', 'd16': 'REGINA', 'd17': '135', 'd18': '', 'd19': '', 'd20': 'COLONIA', 'd21': 'CENTRO (ÁREA 9)', 'd22': '', 'd23': '', 'd24': '06090', 'd25': '0907', 'd26': '012', 'd27': '5555221933', 'd28': 'GPOSONRISE@HOTMAIL.COM', 'd29': '1', 'd30': 'WWW.PAPELESOMEGA.COM', 'd31': '', 'd32': '0', 'd33': '2010-07', 'd34': '19.42698643', 'd35': '-99.13043878', 'd36': '', 'd37': '', 'd38': '', 'd39': '', 'd40': '', 'd41': '', 'd42': '', 'd43': '', 'd44': '', 'd45': '', 'd46': '', 'd47': '', 'd48': '', 'd49': '', 'd50': '', 'd51': '', 'd52': '', 'd53': '', 'd54': '', 'd55': '', 'd56': '', 'd57': 'COLONIA', 'd58': '', 'd59': '', 'd60': '', 'd61': 'CALLE', 'd62': 'LAS CRUCES', 'd63': 'CALLE', 'd64': 'CORREO MAYOR', 'd65': 'AVENIDA', 'd66': 'SAN PABLO', 'd67': '', 'd68': '09015433410000011000051806S4'}]